*{
    padding: 0px;
    margin: 0px;
    /*box-sizing: border-box;*/
 }
 
 .container{
    background-color: aquamarine;
    height: 100vh;
    padding:0px;
    background-image: url(./portada1.png);
    background-size: cover;
 
   
 
 }
 .container
 .line{
     position: relative;
    width:650px;
    height:400px;
    display: block;
    top: 100px;
    left: 300px;

 }
 .line h2{
    font-size: 25px;
    text-align: center;
    display: block;
    position: absolute;
    top: 10%;
    left: 20%;
    font-family: Arial;
    color: rgb(38, 206, 38);

 }
 .line h1{
    font-size: 30px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0%;
    left: 20%;
    font-family: Arial;
    color: blue;

 }
 .line li{
    font-size: 15px;
    text-align: justify;
    position: absolute;
    top: 20%;
    left:10%;
    font-family: Arial black;
 }

.line form{
    font-size:25px;
    text-align: justify;
    position: absolute;
    top: 35%;
    left:10%;
    font-family: Arial;
    color: crimson;
}

button{
    padding: 20px 10px;
    background-color: rgb(238, 17, 120);  
    color: white;
    outline: none;
    border: 0px;
    border-radius: 8px;
    width: 100px;
    margin-top: bold;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
  }